<mat-nav-list>
    <a mat-list-item href="...">
        <mat-icon class="icon" aria-hidden="true">sports_kabaddi</mat-icon>
        <span class="nav-caption">Times</span>
    </a>
    <a mat-list-item href="...">
        <mat-icon class="icon" aria-hidden="true">sports_soccer</mat-icon>
        <span class="nav-caption">Campeonatos</span>
    </a>
    <a mat-list-item href="...">
        <mat-icon class="icon" aria-hidden="true">table_chart</mat-icon>
        <span class="nav-caption">Tabelas</span>
    </a>
</mat-nav-list>