a.mat-list-item:hover {
  background-color: #ebebeb;
  border-radius: 14px;
}

.icon {
  color: #000;
  font-size: 24px;
  background: #fab005;
  padding: 4px;
  border-radius: 5px;
}

.nav-caption {
  margin-left: 8px;
  color: #403a40;
}

.mat-list-item.active {
  color: red;
  background-color: aqua;
}
